body{
    background-color: #f5f5f5;
}

.jumbotron {
    background-color: #f5f5f5;
}

.jumbotron-my {
    padding-top: 7%;
}

.btn.btn-primary.myBut {
    background-color: #102250;
    color: #f5f5f5;
}

